<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\student1\Documents\Visual Studio 2012\Projects\miniProject_Kenny\miniProject_Kenny\data\shop.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\student1\Documents\Visual Studio 2012\Projects\miniProject_Kenny\miniProject_Kenny\data\shop.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\student1\Documents\Visual Studio 2012\Projects\miniProject_Kenny\miniProject_Kenny\data\shop.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString4" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\student1\Desktop\miniProject_Kenny\miniProject_Kenny\data\shop.accdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString5" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\student1\Desktop\miniProject_Kenny\miniProject_Kenny\data\shop.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <roleManager enabled="true" />
      <authentication mode="Forms" />
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
    </system.web>

</configuration>
